<div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
      <div ><h2 class=" grey-text text-lighten-5 header">Hey New Yorkers,<br> Wanna go out?</h2></div>
   </div>