<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Buzzy</h5>
                <p class="grey-text text-lighten-4">An app to let you see events in New York City around your location and link you to TicketMaster to buy tickets.</p>
                
              </div>
              <div class="col l4 offset-l2 s12">
                <a href="https://www.ticketmaster.com"><img src="/images/Ticketmaster.png"></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
          </div>
        </footer>