<!DOCTYPE html>
<html>
<head>
    <title>Buzzy</title>

    <meta charset="utf-8">


  
          
    <!--Let browser know website is optimized for mobile-->
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGAvilTckkKG78sYL-rparmVQ6Rw85Png&callback=initMap">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!--Import materialize.css-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.css" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified JavaScript -->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.1/axios.js"></script>
  	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<!--Import Google Icon Font-->
      
      
     

      