<% include ./partials/head %>
<% include ./partials/nav %>
<body>

   <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
      <div><h2 class=" header">BUZZY</h2></div>
      
   </div>
   <div class="section white">
      <div class="row container section">
         <div class="row">
            <form id="mainForm" class="col s12">
               <div class="row container col s12">
                  <div class="input-field col s6 btnToLoad">
                     Enter your address
                     <input required id="enteredAddress" type="text" class="validate ">
                     <div class="input-field button">
                        <a class="waves-effect waves-light btn-large " id="getAddress"> Use my location</a>
                     </div>
                  </div>
                  <div class="input-field col s6">
                     Category
                     <select  id="Category" name="Category">
                        <option value="" disabled selected>Pick your Categories</option>
                        <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
                        <option value="KZFzniwnSyZfZ7v7nn">Film</option>
                        <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
                        <option value="KZFzniwnSyZfZ7v7na">Arts &amp; Theatre</option>
                        <option value="KZFzniwnSyZfZ7v7n1">Other</option>
                     </select>
                  </div>
               </div>
               <div class="row container col s12">
                  <div class="input-field col s6">
                     From<input type="date" id="StartDate" class=" inline datepicker">
                  </div>
                  <div class="input-field col s6">
                     To<input type="date" id="EndDate" class=" inline datepicker">
                  </div>
               </div>
               <div class="row container col s12">
                  <div class="input-field col s6">
                  </div>
                  <div class="input-field col s6">
                     <div class="input-field button submit">
                     <input class="waves-effect waves-light btn-large" type="submit" value="Submit"> 
                  </div>
                  </div>
               </div>
                  
            </form>
         </div>
      </div>
   </div>
   <div class="parallax-container separator">
      <div class="parallax"><img src="images/CvFeXKY.jpg"></div>
   </div>
   <div class="col s12">
      <div id="googleMap" style="width:100%;height:400px;"></div>
   </div>
   <div class="parallax-container separator">
      <div class="parallax"><img src="images/bridge.jpg"></div>
   <div class="col s12" id="total"></div>
   </div>
   
   <div class="section cardcont white">
   <dt class="col s12" id="results"></dt>
   </div>
   <% include ./partials/scripts %>
</body>
</html>