<% include ./partials/head %>
<% include ./partials/nav %>
<body>

   <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
   </div>
   <div class="section white">
      <div class="row container">
         <h2 class="header">BUZZY</h2>
         <div class="row">
            <form id="mainForm" class="col s6">
                  <div class="input-field col s12 btnToLoad">
                     Enter your address<input id="enteredAddress" type="text" class="validate ">
                  </div>
                  <div class="input-field col s12 button">
                     <a class="waves-effect waves-light btn-large " id="getAddress"> Use my location</a>
                  </div>
                  <div class="input-field col s12">
                     From<input type="date" id="StartDate" class=" inline datepicker">
                  </div>
                  <div class="input-field col s12">
                     To<input type="date" id="EndDate" class=" inline datepicker">
                  </div>
                  <div class="input-field col s12">
                     <select  id="Category" name="Category">
                        <option value="" disabled selected>Pick your Categories</option>
                        <option value="KZFzniwnSyZfZ7v7nJ">Music</option>
                        <option value="KZFzniwnSyZfZ7v7nn">Film</option>
                        <option value="KZFzniwnSyZfZ7v7nE">Sports</option>
                        <option value="KZFzniwnSyZfZ7v7na">Arts &amp; Theatre</option>
                        <option value="KZFzniwnSyZfZ7v7n1">Other</option>
                        <!-- <option value="music">Concerts &amp; Tour Dates</option>
                        <option value="conference">Conferences &amp; Tradeshows</option>
                        <option value="comedy">Comedy</option>
                        <option value="learning_education">Education</option>
                        <option value="family_fun_kids">Kids &amp; Family</option>
                        <option value="festivals_parades">Festivals</option>
                        <option value="movies_film">Film</option>
                        <option value="Free">Free</option>
                        <option value="food">Food &amp; Wine</option>
                        <option value="fundraisers">Fundraising &amp; Charity</option>
                        <option value="art">Art Galleries &amp; Exhibits</option>
                        <option value="support">Health &amp; Wellness</option>
                        <option value="books">Literary &amp; Books</option>
                        <option value="attractions">Museums &amp; Attractions</option>
                        <option value="community">Business &amp; Networking</option>
                        <option value="singles_social">Nightlife &amp; Singles</option>
                        <option value="alumni">University &amp; Alumni</option>
                        <option value="clubs_associations">Organizations &amp; Meetups</option>
                        <option value="outdoors_recreation">Outdoors &amp; Recreation</option>
                        <option value="performing_arts">Performing Arts</option>
                        <option value="Volunteer">Volunteer</option>
                        <option value="animals">Pets</option>
                        <option value="politics_activism">Politics &amp; Activism</option>
                        <option value="sales">Sales &amp; Retail</option>
                        <option value="science">Science</option>
                        <option value="religion_spirituality">Religion &amp; Spirituality</option>
                        <option value="sports">Sports</option>
                        <option value="Tours">Tours</option>
                        <option value="technology">Technology</option> -->
                     </select>
                     <label>Category</label>
                  </div>
                  <div class="input-field col s12">
                     <input class="waves-effect waves-light btn-large" type="submit" value="Submit"> 
               </div>
            </form>
            <div class="col s6">
               <div id="googleMap" style="width:100%;height:400px;"></div>
            </div> 
         </div>
      </div>
   </div>
   <div class="parallax-container">
      <div class="parallax"><img src="images/CvFeXKY.jpg"></div>
   </div>
   <div id="results">
   </div>
   <% include ./partials/scripts %>
</body>
</html>