<% include ./partials/head %>
<% include ./partials/nav %>
<body>

   <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
   </div>
   <div class="section white">
   <% include ./partials/display %>
   </div>
   <div class="parallax-container">
      <div class="parallax"><img src="images/CvFeXKY.jpg"></div>
   </div>
   <div id="results">
   <div>
   <% include ./partials/scripts %>
     <script src="javascripts/page2.js"></script>
</body>
</html>