<% include ./partials/head %>
<% include ./partials/nav %>
<body>

   <div class="parallax-container">
      <div class="parallax"><img src="images/background.jpg"></div>
   </div>
   <div class="section white">
   <table>
      <tr>
         <th>ID</th>
         <th>Date</th>
         <th>Event</th>
         <th>Address</th>
         <th>Category</th>
         <th>Action</th>
      </tr>
   </table>
   </div>
   </div>
   </div>
   </div>
   <div class="parallax-container">
      <div class="parallax"><img src="images/CvFeXKY.jpg"></div>
   </div>
   <div id="results">
   <div>
   <% include ./partials/scripts %>
</body>
</html>